<main>
    <aside id="preview">
        <div id="preview-placeholder">
            @for (page of pages; track $index) {
            <pdf-pageview [page]="page" [scale]="0.1" class="page-preview"
                [ngClass]="{'selected': currentPageIdx === $index}"
                (onSelected)="onSelectPage($event, $index)"></pdf-pageview>
            }
        </div>
        <pdf-slot (onFilesReceived)="onFilesReceived($event)" />
    </aside>
    <section id="workarea">
        @for (page of pages; track $index) {
        <pdf-pageview [page]="page" #fullpage />
        }
    </section>
</main>