@if (overlay) {
<div #overlay class="overlay">
        <button nz-button nzType="primary" nzSize="large" nzShape="circle" touchable
                (click)="onClick($event, onMovePageUp)">
                <span nz-icon nzType="caret-up"></span>
        </button>
        <div class="row">
                <button nz-button nzType="primary" nzSize="large" nzShape="circle" (click)="onClick($event, onSwapPage)"
                        touchable disabled="true">
                        <span nz-icon nzType="sync"></span>
                </button>
                <button nz-button nzType="primary" nzSize="large" nzDanger nzShape="circle"
                        (click)="onClick($event, onDeletePage)" touchable>
                        <span nz-icon nzType="delete"></span>
                </button>
                <button nz-button nzType="primary" nzSize="large" nzShape="circle"
                        (click)="onClick($event, onRotatePage)" touchable>
                        <span nz-icon nzType="rotate-right"></span>
                </button>
        </div>
        <button nz-button nzType="primary" nzSize="large" nzShape="circle" (click)="onClick($event, onMovePageDown)"
                touchable>
                <span nz-icon nzType="caret-down"></span>
        </button>
</div>
}
<div #content id="content" touchable (onDblTap)="onToggleOverlay($event)">
        <ng-content></ng-content>
</div>